<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Hello World</h1>
    <script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io('http://localhost:3000/users', {secure: true});

  // Send a message to the server
  socket.emit('chat message', 'Hello, Server!');


  socket.on('user-connection', data => {
    console.log('message received', data);
  })

  // Receive messages from the server
  socket.on('chat message', (message) => {
    console.log('Received message:', message);
  });
  socket.on('disconnect', () => {
    console.log('disconnected');
  // Clean up resources associated with the disconnected socket
  // For example, remove event listeners, clear data, etc.
});
socket.on('error', (error) => {
  console.error('Socket error:', error);
  // Handle the error appropriately
});
</script>
</body>
</html>